/* Index 

1. General Settings
2. Header
3. Navigation
4. Main

External CSS - Webfonts
External CSS - Erase default CSS
*/

/* 1. General Settings */

h1, 
h2, 
h3,
p {
  font-family: 'Brandon Grotesque';
}

body {
  max-width: 1160px;
  margin: auto;
}

.responsive {
  width: 100%;
  height: auto;
}
.bold {
  font-weight: bold;
}
.disabled {
  color: #9d9d9d;
}
.active {
  right: 0px !important;
}

/* 2. Header */

.header-mobile {
  background-color: #ffef60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}
@media only screen and (min-width: 700px) {
  .header-mobile {
    display: none;
  }
}

.header-mobile__navigation {
  width: 75px;
  filter: brightness(0);
  padding-top: 8px;
}
.header-mobile__title {
  font-size: 21px;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}
.header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
}
@media only screen and (max-width: 700px) {
  .header-desktop {
    display: none;
  }
}
.header-desktop__logo {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
}
.header-desktop__breadcrumbs {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
}

.cart {
  background-color: #ffffff;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  min-width: 75px;
}
.cart__chevron,
.cart__chevron-desktop {
  background-color: #000000;
  width: 10px;
  padding: 5px 10px;
  display: flex;
}

.arrow-down{
  transform: rotate(0deg);
  transition: transform 1s linear;
}

.arrow-down.open{
  transform: rotate(-180deg);
  transition: transform 1s linear;
}

.cart__counter {
  display: flex;
  padding: 4px 6px 0 0;
}
.cart__counter-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  text-align: center;
  padding: 2px
}
.cart__counter-desktop {
  animation: neon 2s infinite linear;
  max-height: 30px;
}
@keyframes neon {
  0%,100% {
      -webkit-box-shadow: 0px 0px 0px 0px #f00;
      box-shadow: 0px 0px 0px 0px #f00;
  }

  50% {
      -webkit-box-shadow: 0px 0px 20px 0px #f00;
      box-shadow: 0px 0px 20px 0px #f00;
  }
}

/* 3. Navigation */ 

.navigation-desktop {
  background-color:#c9e8fa;
  transition: all 0.9s ease-in-out;
  width: 370px;
  height: 100vh;
  position: fixed;
  right: -370px;
  top: 0;
  z-index: 999;
  
}
.navigation-desktop__close-btn {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-family: 'Azo Sans';
  font-weight: normal;
  margin-right: 30px;
  margin-top: 16px;
  padding: 4px 2px;
  text-align: center;
  width: 20px;
}
.navigation-desktop__title {
  text-transform: uppercase;
  font-weight: 900;
  padding: 20% 8% 10% 8%;
}
.navigation-desktop__txt{
  border-bottom: 3px solid;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 8%;
  padding-bottom: 4%;
}
.navigation-desktop__sub-txt {
  padding-top: 20px;
  text-align: center;
}

.navigation-mobile {
  background-color:#ffffff;
  transition: all 0.9s ease-in-out;
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 50px;
  z-index: 999;
}
@media only screen and (min-width: 700px) {
  .navigation-mobile  {
    display: none;
  }
}

.navigation-mobile__frame {
  border-bottom: 2px solid #FEEF51;
  border-left: 2px solid #FEEF51;
  border-right: 2px solid #FEEF51;
  margin: 0 5%
}
.navigation-mobile__title {
  font-weight: 700;
  padding: 4%;
  letter-spacing: 2px;
}
.navigation-mobile__txt{
  font-family: 'Azo Sans';
  text-align: center;
  padding-bottom: 10%;
}

/* 4. Main */

.main {
  overflow: hidden;
  padding: 3%;
}

.main__title {
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 50px;
  max-width: 400px;

}
@media only screen and (max-width: 700px) {
  .main__title {
    margin-top: 18%;
  }
}

.dish-menu {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 700px) {
  .dish-menu {
    padding: 30px 65px;
    border-top: 4px solid #000000;
  }
}
.dish-menu__item {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  max-width: 230px;
  margin: 0px auto;
  overflow: hidden;
}
@media only screen and (min-width: 700px) { 
  .dish-menu__item {
    max-width: 270px;
  }
}
@media only screen and (max-width: 700px) { 
  .dish-menu__item { 
    max-width: 210px;
  }
}
@media only screen and (max-width: 500px) { 
  .dish-menu__item {
    max-width: 180px;
  }
}
.dish-menu__item img {
  transition: transform .4s ease-in-out;
}
.dish-menu__item:hover img {
  transform: scale(1.05) rotate(3deg);
  overflow: hidden;
}
.dish-menu__item-counter {
  background-color: #f5f5f5;
  display: flex;
  height: 34px;
  justify-content: space-between;
  line-height: 30px;
  position: relative;
  top: -4px;
}
.dish-menu__item-counter-btn {
  background: #feed6a;
  border: none;
  font-weight: bold;
  font-size: 24px;
  width: 20%;
  cursor: pointer;
}
.dish-menu__item-counter-txt {
  font-size: 18px;
  font-weight: bold;
}
.dish-menu__item-info {
  font-weight: bold;
  text-align: center;
}
.dish-menu__item-info-title {  
  font-weight: 900;
  text-transform: uppercase;
  margin: 10px;
}
.dish-menu__item-info-body {
  font-family: 'Azo Sans';
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
.dish-menu__item-specs {
  margin-bottom: 30px;
}